<h4>Internal server error - refreshing the page will make the error disppear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you're seeing this then angular
        has nothing to do with this'</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools, check the failing request in n/w tab</li>
        <li>Examine the request url - what API endpoint are you requesting</li>
        <li>Reproduce the problem in postman- if we get same error angular is 100%
            not the problem
        </li>
    </ol>
    <p>Following is the stack trace  - the first few lines tell which line of code cause the 
        issue inn the api
    </p>
    <code class="mt-5" style="background-color: whitesmoke;">
    {{error.details}}
    </code>
</ng-container>